/* css var - #1D9D73 */
:root{
	--offset: 15px;
	--grey:#888;
	--black: #333;
	--green: #1D9D73;
	--mar-1: 50px;
}
html{
	font-size: 10px;
}

body{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: var(--grey);
	font-size: 16px;
}

h1,h2,h3,.h1,.h2,.h3{
	font-weight: 300;
	color: var(--black);
}

h1, .h1{
	font-size: 5.5rem;
	margin: 3rem 0;
}

h2, .h2{
	font-size: 35px;
	margin: 20px 0;
}

h3, .h3{
	font-size: 26px;
	margin: 16px 0;
}

strong, .strong{
	font-weight: 400;
}

em, .em{
	font-weight: 300;
	font-style: italic;
}

p{
	font-weight: 300;
}

.btn {
	background-color: var(--green);
	padding: 17px 56px;
	border-radius: 40px;
}

/* etc */
.content-text ul{
	list-style-type: disc;
	padding-left: 50px;
}

.container{
	max-width: 1170px;
	padding: 10px 30px;
	margin: 0 auto;
}


.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 calc(var(--offset)*-1);
}

.col{
	margin: var(--offset);
	box-sizing: border-box;
}

.header{
    justify-content: space-between;
	margin-bottom: var(--mar-1);
}

.ti-github{
	color: var(--green);
	margin-right: 5px;
}

.header-link, .header-logo{
	color: var(--black);
	font-weight: 400;
}

.header-logo{
    font-size: 27px;
}

.ti-github, .header-logo, .header-text, .footer-text{
    display: inline-block;
}

.header-text{
	font-size: 10px;
}

hr{
	margin: 0;
}

.ti-search{
    font-size: 20px;
	color: black;
	font-weight: 400;
}

.footer{
	text-align: center;
	margin: 40px 0 50px 0;
}

.footer-text{
	font-size: 14px;
}

@media screen and (max-width: 1130px) {
	.container{
		max-width: 1170px;
		padding: 10px 15px;
		margin: 0 auto;
	}	
}

@media screen and (max-width: 768px) {
	html{
		font-size: 6px;
	}
	:root{
		--mar-1: 25px;
	}
}

@media screen and (max-width: 700px) {
	.header{
		justify-content: center;
		text-align: center;
	}
	.nav-menu-li, .headerik, .menu{
		width: calc(100%/1 - var(--offset) * 2);
	}
	.nav-menu-li{
		margin-bottom: 20px;
		justify-content: left;
		text-align: left;
	}
}

@media screen and (max-width: 400px) {
	:root{
		--offset: 8px;
	}
}