.about, .why, .work, .advantages{
    margin-bottom: var(--mar-1);
}

.advantages, .team, .articles{
    margin-bottom: calc(var(--mar-1)*2);
}

.about-left, .about-item{
    width: calc(100%/ 2 - var(--offset) * 2);
}

.mark-left{
    margin-left: 10px;
}

.about-item-dscr, .why-item-h2, .work-mark, .teamItem .h3, .ti-facebook{
	color: var(--green);
}

.why-item, .why-img, .work-left, .work-right{
    width: calc(100%/ 2 - var(--offset) * 2);
}

.articles-lorem, .articles-conse, .articles-sed, .teamItem{
    width: calc(100%/3 - var(--offset) * 2);
}

.ti-book, .ti-headphone-alt, .ti-world{
    font-size: 90px;
    color: var(--green);
}

.articles-link{
    margin-top: 40px;
    padding: 17px 56px;
    border-radius: 40px;
}

.advRange, .articles-link{
    background-color: var(--green);
}

.ti-apple, .articles-link{
    color: #FFFFFF;
}

.articles-hr{
    margin: 120px 0 100px 0;

}

.articles-link, .mark-left{
    display: inline-block;
}


.advItem{
	width: calc(100% / 2 - var(--offset) * 2);
	display: flex;
	margin-top: 35px;
}

.advItem .title{
	color: var(--green);
	margin-top: 0;
}

.advRange{
	width: 131px;
	height: 131px;
	background-color: var(--green);
	border-radius: 50%;
	text-align: center;
	line-height: 131px;
	margin-right: 20px;
}

.advTexts{
	width: calc(100% - 151px);
}

.advRange img{
	vertical-align: middle;
}

.adv-hr{
    margin: 107px 0 90px 0;
}

.sectionTeam{
	text-align: center;
}

.ti-instagram, .ti-twitter-alt{
    color: var(--grey);
}

.ti-instagram, .ti-twitter-alt, .ti-facebook{
    font-size: 30px;
    margin: 0 10px;
}
.team-soc{
    margin-top: 30px;
}

.team-hr{
    margin-top: 100px;
}


@media screen and (max-width: 1130px){
	.advItem{
		width: calc(100% / 1 - var(--offset) * 2);
	}
}
@media screen and (max-width: 1000px){
    .work-left, .work-right, .why-item, .why-img, .about-item, .about-left{
        width: calc(100% / 1 - var(--offset) * 2);
        }
    .work-right, .why-item, .about-item{
        max-width: 636px;
        justify-content: center;
    }
    .why, .work, .work-left, .work-right, .why-item, .why-img, .why-itemik, .about, .about-item, .about-left, .about-itemik{
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width: 800px){
    .team{
        justify-content: center;
    }
    .teamItem{
        width: calc(100% - var(--offset) * 2);
        max-width: 370px;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width: 700px){
    .articles-lorem, .articles-conse, .articles-sed{
        width: calc(100%/1 - var(--offset) * 2);
        text-align: center;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 560px){
    .advItem{
        display: block;
    }
    .advTexts{
        width: auto;
        margin-top: 20px;
    }
    .advantages
    {
        justify-content: center;
        text-align: center;
    }
    .advRange{
        display: inline-block;
        margin-right: 0px;
    }
}